[Unit]
Description=Run borgmatic backup

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
