# Packages
[[packages]]
install = [ "dotdeploy/dev-R" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "dotdeploy-dev-r" ]
if = "(eq DOD_DISTRIBUTION_NAME 'ubuntu')"

[[packages]]
install = [
  "r",
  "opt:blas-openblas", "opt:gcc-fortran", "opt:texlive-latex"
]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files

# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "Makevars"
target = "$HOME/.R/Makevars"
type = "copy"
template = true

[[files]]
source = "Rprofile"
target = "$HOME/.Rprofile"
