depends_on = [ "shell/common" ]

# Packages
[[packages]]
install = [ "dotdeploy/shell-zsh" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "zsh", "zsh-completions" ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "common/home/*"
target = "$HOME/*"

[[tasks]]
description = "dotdeploy"
if = "(is_executable 'dotdeploy')"
[[tasks.config]]
description = "Install Zsh completions"
shell = '''
mkdir -p "$HOME/.config/zsh/completions"
dotdeploy completions -s zsh > "$HOME/.config/zsh/completions"/_dotdeploy
'''
[[tasks.update]]
description = "Update Zsh completions"
shell = '''
mkdir -p "$HOME/.config/zsh/completions"
dotdeploy completions -s zsh > "$HOME/.config/zsh/completions"/_dotdeploy
'''
hook = "pre"

[[tasks]]
description = "Zsh setup and maintenance"
[[tasks.config]]
description = "Ensure .zshenv symlink exists"
shell = '''
ln -svf "$HOME"/.zshenv "$HOME"/.config/zsh/.zshenv
'''
[[tasks.update]]
description = "Reset zgenom"
shell = '''
if [ -f "$HOME/.local/share/zgenom/zgenom.zsh" ]; then
  zsh -c "source $HOME/.local/share/zgenom/zgenom.zsh && zgenom reset"
fi
'''
hook = "post"
[[tasks.remove]]
shell = '''
rm -f "$HOME"/.zshenv
rm -rf "${XDG_CONFIG_HOME:-$HOME/.config}"/zsh/
rm -rf "${XDG_DATA_HOME:-$HOME/.local/share}"/zgenom
'''
