# Packages
[[packages]]
install = [ "dotdeploy/services-samba" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "samba", "wsdd" ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "gentoo/samba_config/etc/*"
target = "/etc/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "samba_config/etc/*"
target = "/etc/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[tasks]]
description = "Samba"
[[tasks.config]]
description = "Add $USER to Samba usershare group and activate sysusers"
shell = '''
if ! id -nG "$USER" | grep -qw sambashare; then
  sudo gpasswd -a "$USER" sambashare
  sudo systemd-sysusers
fi
'''
[[tasks.config]]
description = "Ensure Samba services are running"
shell = '''
for SERVICE in smb wsdd; do
  if ! systemctl is-enabled --quiet "$SERVICE"; then
    sudo systemctl enable --now "$SERVICE"
  fi
done
'''
[[tasks.remove]]
description = "Stop Samba services"
shell = '''
for SERVICE in smb wsdd; do
  sudo systemctl disable --now "$SERVICE"
done
'''
hook = "pre"
[[tasks.remove]]
description = "Remove $USER from Samba usershare group"
shell = '''
if id -nG "$USER" | grep -qw sambashare; then
  sudo gpasswd -d "$USER" sambashare
fi

sudo systemd-sysusers
'''
hook = "post"

[[messages]]
message = """
Manage Samba authentication for named users:

# Add the some_user account to the Samba login db
sudo smbpasswd -a some_user

# Enable the some_user account in the Samba login db
sudo smbpasswd -e some_user

# Try to log in to a running Samba instance as some_user and list shares
smbclient -U some_user -L localhost

# Disable the some_user account in the Samba login db
sudo smbpasswd -d some_user

# Remove the some_user account from the Samba login db
sudo smbpasswd -x some_user
"""
