#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;TextEditor;
Comment[de_DE]=Edit text
Comment=Edit text
Exec=emacsclient -c -a emacs
GenericName[de_DE]=Text Editor
GenericName=Text Editor
Icon=emacs
Keywords=Text;Editor;
MimeType=text/x-tex;text/x-tcl;text/x-pascal;text/x-moc;text/x-makefile;text/x-java;text/x-csrc;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/plain;application/x-shellscript;
Name[de_DE]=Emacs Client
Name=Emacs Client
Path=
StartupNotify=true
StartupWMClass=Emacs
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
