# Packages
[[packages]]
install = [ "dotdeploy/desktop-fonts" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [
  "ttf-symbola"
]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
[[files]]
source = "common/etc/*"
target = "/etc/*"
phase = "config"
type = "copy"

# Actions
[[tasks]]
description = "fontconfig"
[[tasks.config]]
description = "Ensure symlinks exist"
shell = '''
for LINK in 11-lcdfilter-default.conf 10-sub-pixel-rgb.conf 10-hinting-slight.conf; do
  if [ ! -L "/etc/fonts/conf.d/$LINK" ]; then
    sudo ln -sfv "/etc/fonts/conf.avail/$LINK" /etc/fonts/conf.d
  fi
done
# sudo ln -sfv /etc/fonts/conf.avail/30-infinality-aliases.conf /etc/fonts/conf.d
'''
[[tasks.remove]]
description = "Remove symlinks"
shell = '''
for LINK in 11-lcdfilter-default.conf 10-sub-pixel-rgb.conf 10-hinting-slight.conf; do
  if [ -L "/etc/fonts/conf.d/$LINK" ]; then
    sudo rm -f "/etc/fonts/conf.d/$LINK"
  fi
done
# sudo rm -f /etc/fonts/conf.d/30-infinality-aliases.conf
'''
hook = "pre"
