# Packages
[[packages]]
install = [ "dotdeploy/dev-rust" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

# [[packages]]
# install = [ "rustup" ]
# if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[tasks]]
description = "Rust setup"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"
[[tasks.config]]
description = "Install Cargo"
shell = '''
if [ ! -f "$HOME/.cargo/bin/cargo" ]; then
  rustup-init -y --no-modify-path
fi
'''
[[tasks.remove]]
description = "Remove Cargo"
shell = "rm -rf ~/.cargo"
