## Modules

depends_on = [
  "base",
  "shell/bash",
  "shell/zsh",
  "desktop/plasma",
  "desktop/apps/calibre",
  # "desktop/apps/libreoffice",
  "desktop/fonts",
  "desktop/spelling",
  "editors/emacs",
  "hardware/hp-printer",
  "dev/R",
  "dev/rust",
  "dev/containers",
  "services/samba",
  "vm/virtualbox",
  # "browsers/vivaldi",
  "backup/snapper"
]

## Config to include

includes = [
  "$DOD_HOSTS_ROOT/shared/env-sh.toml",
  "$DOD_HOSTS_ROOT/shared/fstrim.toml",
  "$DOD_HOSTS_ROOT/shared/hosts.toml"
]

## Packages

[[packages]]
install = [ "dotdeploy/host-kallisto" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [
  "nextcloud-client", "keepassxc",
  "input-remapper-git",
  # input-remapper optional
  "opt:xorg-xmodmap",
  "strawberry",
  # Bootloader management
  "limine-mkinitcpio-hook",
  "limine-snapper-sync",
  # Laptop power management
  "tlp", "tlp-rdw", "tlp-pd",
  "opt:ethtool", "opt:smartmontools"

]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

## Files

# Host makepkg and pacman configuration
[[files]]
source = "arch/makepkg.conf"
target = "/etc/makepkg.conf"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "arch/makepkg.conf.d/*"
target = "/etc/makepkg.conf.d/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "arch/pacman.conf"
target = "/etc/pacman.conf"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "arch/mkinitcpio.conf"
target = "/etc/mkinitcpio.conf"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "arch/mkinitcpio.conf.d/*"
target = "/etc/mkinitcpio.conf.d/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "arch/limine"
target = "/etc/default/limine"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

[[files]]
source = "paru.conf"
target = "$HOME/.config/paru/paru.conf"
phase = "setup"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Host portage and package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

# System tweaks
[[files]]
source = "gentoo/tweaks/*"
target = "/etc/*"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

# Host specific dotfiles
[[files]]
source = "home/*"
target = "$HOME/*"

[[tasks]]
description = "TLP"
[[tasks.config]]
description = "Activate TLP services"
shell = """
if ! systemctl is-enabled --quiet tlp.service tlp-pd.service; then
  sudo systemctl enable --now tlp.service tlp-pd.service
fi
sudo systemctl mask systemd-rfkill.service systemd-rfkill.socket
"""
[[tasks.remove]]
description = "Deactivate TLP services"
shell = """
sudo systemctl disable --now tlp.service tlp-pd.service
sudo systemctl unmask systemd-rfkill.service systemd-rfkill.socket
"""
hook = "pre"


## Files to generate

[[generators]]
source = "fzf.sh"
target = "$HOME/.fzf.sh"
shebang = "#!/bin/sh"

[[generators]]
source = "aliases.sh"
target = "$HOME/.aliases.sh"
shebang = "#!/bin/sh"

[[generators]]
source = "completions.sh"
target = "$HOME/.completions.sh"
shebang = "#!/bin/sh"

## Context variables for template expansion

[context_vars]
ncpu = "16"
