depends_on = [ "shell/common" ]

# Packages
[[packages]]
install = [ "dotdeploy/shell-bash" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "bash", "bash-completion" ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"


# Files
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "bash_profile"
target = "$HOME/.bash_profile"

[[files]]
source = "bashrc"
target = "$HOME/.bashrc"

[[tasks]]
description = "dotdeploy"
if = "(is_executable 'dotdeploy')"
[[tasks.config]]
description = "Install Bash completions"
shell = '''
mkdir -p "$HOME/.local/share/bash-completion/completions"
dotdeploy completions -s bash > "$HOME/.local/share/bash-completion/completions"/dotdeploy.bash
'''
[[tasks.update]]
description = "Update Bash completions"
shell = '''
mkdir -p "$HOME/.local/share/bash-completion/completions"
dotdeploy completions -s bash > "$HOME/.local/share/bash-completion/completions"/dotdeploy.bash
'''
