includes = [ { files = ["gentoo_local_repo.toml"], if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')" } ]

# Packages
[[packages]]
install = [ "dotdeploy/base" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [
  "linux", "linux-lts", "linux-headers", "linux-lts-headers",
  "mold",
  "ccache",
  "git",
  # Cron daemon
  "cronie",
  # SSH
  "sshfs",
  # File systems
  "btrfs-progs", "dosfstools", "exfatprogs", "mtools", "ntfs-3g",
  # System tools
  "htop", "nano", "cpupower", "terminus-font", "man-db", "man-pages", "texinfo",
  "rsync",
  "reflector"
]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
[[files]]
# Package configuration
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

# Files
[[files]]
# Package configuration
source = "reflector.conf"
target = "/etc/xdg/reflector/reflector.conf"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Tasks

[[tasks]]
description = "Reflector"
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"
[[tasks.config]]
description = "Ensure reflector.timer is enabled"
shell = """
if ! systemctl is-enabled --quiet reflector.timer; then
  sudo systemctl enable --now reflector.timer
fi
"""
[[tasks.remove]]
description = "Disable reflector.timer"
shell = """
sudo systemctl disable --now reflector.timer
"""

# Necessary base setup, needs to run early
[[tasks]]
description = "Gentoo base setup"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"
[[tasks.setup]]
exec = "$DOD_DOTFILES_ROOT/scripts/gentoo_base_setup.sh"
hook = "pre"

[[tasks]]
description = "Ubuntu base setup"
if = "(eq DOD_DISTRIBUTION_NAME 'ubuntu')"
[[tasks.setup]]
exec = "$DOD_DOTFILES_ROOT/scripts/prepare_system.sh"
hook = "pre"
