# Packages
[[packages]]
install = [ "dotdeploy/desktop-apps-calibre" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "calibre", "opt:poppler", "python-fonttools" ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[files]]
source = "common/home/*"
target = "$HOME/*"
phase = "config"
type = "link"
