# Packages
[[packages]]
install = [ "dotdeploy/dev-containers" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "dotdeploy-dev-containers" ]
if = "(eq DOD_DISTRIBUTION_NAME 'ubuntu')"

[[packages]]
install = [
  "podman", "opt:podman-compose", "opt:podman-docker", "distrobox",
  "devcontainer-cli"
  ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files

# Package configuration
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

# Actions
[[tasks]]
description = "Enable latest Distrobox PPA"
if = "(eq DOD_DISTRIBUTION_NAME 'ubuntu')"
[[tasks.setup]]
shell = "$DOD_DOTFILES_ROOT/scripts/ensure_ppa.sh michel-slm/distrobox"
[[tasks.remove]]
shell = "sudo add-apt-repository --remove ppa:michel-slm/distrobox"

# Deploy
[[tasks]]
description = "podman"
[[tasks.config]]
description = "Set subordinate UID/GIDs for $USER"
shell = '''
# Set subuid and subgid
if [ ! -f /etc/subuid ]; then
  sudo touch /etc/subuid
fi
if [ ! -f /etc/subgid ]; then
  sudo touch /etc/subgid
fi
if grep -q "$USER:100000:65536" /etc/subgid; then
  echo "$USER already set up"
else
  sudo usermod --add-subuids 100000-165535 --add-subgids 100000-165535 "$USER"
fi
'''
[[tasks.remove]]
description = "Remove subordinate UID/GIDs for $USER"
shell = """
sudo usermod --del-subuids 100000-165535 --del-subgids 100000-165535 "$USER"
"""
hook = "pre"
