# Packages
[[packages]]
install = [ "dotdeploy/backup-snapper" ]
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[packages]]
install = [ "snapper" ]
if = "(eq DOD_DISTRIBUTION_NAME 'arch')"

# Files
[[files]]
source = "gentoo/portage/*"
target = "/etc/portage/*"
phase = "setup"
type = "copy"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"

[[tasks]]
description = "snapper"
if = "(eq DOD_DISTRIBUTION_NAME 'gentoo')"
[[tasks.config]]
description = "Enable services and GRUB integration"
shell = '''
for SERVICE in snapper-cleanup.timer snapper-timeline.timer grub-btrfsd.service; do
  if ! systemctl is-enabled --quiet "$SERVICE"; then
    sudo systemctl enable --now "$SERVICE"
  fi
done
'''
[[tasks.remove]]
description = "Disable services and GRUB integration"
shell = """
for SERVICE in snapper-cleanup.timer snapper-timeline.timer grub-btrfsd.service; do
  sudo systemctl disable --now "$SERVICE"
done
"""
hook = "pre"

[[messages]]
message = """
Do not forget to edit /etc/snapper/configs/root and
/etc/default/grub-btrfs/config.

If 'snapper -c root create-config /' causes an error, then:

Unmount /.snapshots if it is mounted

Delete /.snapshots

Run
# snapper -c root create-config /

Now that snapper is happily configured, delete /.snapshots. Note that it is a subvolume - not a folder

# btrfs subvolume delete /.snapshots

Create the mountpoint again
# mkdir /.snapshots
# chmod 750 /.snapshots

Mount the subvol_snapshots subvolume to /.snapshots
# mount /.snapshots
"""
